@import "src/styles/text";

.input {
	width: 100%;
	outline: none;
	transition: color 150ms ease, border-color 150ms ease;
	background-color: var(--BG_0);
	border: 1px solid var(--BG_2);
	color: var(--FG_9);

	&::placeholder {
		color: var(--FG_6);
		opacity: 1;
	}

	&:focus {
		border: 2px solid var(--TC_5);
	}
}

.input_large {
	@extend .text_16;
	padding: 9px 17px;
	border-radius: 8px;

	&:focus {
		padding: 8px 16px;
	}
}

.input_normal {
	@extend .text_14;
	padding: 7px 13px;
	border-radius: 6px;

	&:focus {
		padding: 6px 12px;
	}
}

.textarea {
	@extend .input;
}
