.button {
	display: inline-block;
	outline: none;
	border: none;
	transition: background-color 150ms ease, border-color 150ms ease, color 150ms ease;
	cursor: pointer;
	user-select: none;

	& > * {
		color: inherit;
	}

	&._icons {
		display: inline-flex;
		align-items: center;

		svg {
			path {
				transition: fill 150ms ease;
				fill: var(--FG_0);
			}
		}

		svg:first-child {
			margin-right: 12px;
		}

		svg:last-child {
			margin-left: 12px;
		}
	}

	/* Sizes */
	&.button_14 {
		padding: 9px 19px;
		border-radius: 6px;
	}

	&.button_16 {
		padding: 11px 21px;
		border-radius: 8px;
	}

	&.button_18 {
		padding: 14px 27px 12px; // почему падинги в фигме отличаются от кода - останется секретом на века, либо я просто долбоеб Pepega
		border-radius: 10px;
	}
}

.button_main {
	background-color: var(--TC_5);
	color: var(--FG_0);
	border: 1px solid var(--TC_5);

	&:hover {
		background-color: var(--TC_6);
		border-color: var(--TC_6);
	}

	&:active {
		background-color: var(--TC_7);
		border-color: var(--TC_7);
	}

	&:disabled, &._disabled {
		background-color: transparent;
		cursor: default;
		color: var(--FG_3);
		border-color: var(--BG_2);

		svg path {
			fill: var(--FG_3);
		}
	}
}

.button_main_inverted {
	@extend .button_main;
	background-color: var(--FG_0);
	color: var(--TC_5);
	border: 1px solid var(--FG_0);
	transition: filter 150ms ease;

	&:hover {
		filter: brightness(95%);
	}
	&:active {
		filter: brightness(90%);
	}

	&:disabled, &._disabled {
		background-color: var(--BG_0);
		border-color: var(--BG_0);
	}
}

.button_main_alt {
	@extend .button_main;
	background-color: transparent;
	color: var(--TC_5);
	border: 1px solid var(--TC_5);

	&:hover {
		color: var(--FG_0);
	}

	&:active {
		color: var(--FG_0);
	}
}

.button_secondary {
	background-color: transparent;;
	color: var(--FG_5);
	border: 1px solid transparent;

	&:hover {
		background-color: var(--BG_1);
	}

	&:active {
		background-color: var(--BG_2);
	}

	&:disabled, &._disabled {
		cursor: default;
		color: var(--FG_3);

		svg path {
			fill: var(--FG_3);
		}
	}
}
