.button {
	display: inline-block;
	outline: none;
	border: none;
	transition: background-color 150ms ease, border-color 150ms ease, color 150ms ease;
	cursor: pointer;
	user-select: none;
	border-radius: 6px;

	/* Sizes */
	&.button_14 {
		padding: 9px 19px;
	}

	&.button_16 {
		padding: 11px 21px;
	}

	&.button_18 {
		padding: 14px 27px 12px; // почему падинги в фигме отличаются от кода - останется секретом на века, либо я просто долбоеб Pepega
	}
}

.button_main {
	background-color: var(--TC_5);
	color: var(--FG_0);
	border: 1px solid var(--TC_5);

	&:hover {
		background-color: var(--TC_6);
		border-color: var(--TC_6);
	}

	&:active {
		background-color: var(--TC_7);
		border-color: var(--TC_7);
	}

	&:disabled, &._disabled {
		cursor: default;
		color: var(--FG_3);
		border-color: var(--FG_3);
	}
}

.button_main_alt {
	@extend .button_main;
	background-color: transparent;
	color: var(--TC_5);

	&:hover {
		color: var(--FG_0);
	}

	&:active {
		color: var(--FG_0);
	}
}

.button_secondary {
	background-color: transparent;;
	color: var(--FG_6);

	&:hover {
		background-color: var(--BG_1);
	}

	&:active {
		background-color: var(--BG_2);
	}

	&:disabled, &._disabled {
		cursor: default;
		color: var(--FG_3);
	}
}
