@import "theme";

:root {
	@include light-theme;
}

html:not(._light) {
	@media (prefers-color-scheme: dark) {
		@include dark-theme;
	}
}

html._dark {
	@include dark-theme;
}

// Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
	font-family: "Inter", sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6 {
	color: var(--FG_9);
}

a {
	text-decoration: none;
	color: unset;
}

@import "text";
