@mixin light-theme {
    --BG_0: #FFFFFF;
    --BG_1: #EBEDF0;
    --BG_2: #D7D9DB;
    --BG_8: #2D2D2E;
    --BG_9: #1E1E1F;

    --FG_0: #FFFFFF;

    --FG_3: #C1C2C4;

    --FG_5: #79797A;
    --FG_6: #5F6061;
    --FG_7: #464747;
    --FG_9: #1E1E1F;

    --TC_5: #186EF0;
    --TC_6: #1562D6;
    --TC_7: #1357BD;

    --BG_TC: #D1E2FC;
    --BG_RED: #FAD9D6;
    --BG_YEL: #FCF2D7;
    --BG_GRN: #D2F7DF;

    --RED: #EB3F2F;
    --YEL: #F2C037;
    --GRN: #2BD948;
}

@mixin dark-theme {
    --BG_0: #111414;
    --BG_1: #202224;
    --BG_2: #27292B;
    --BG_8: #292B2E;
    --BG_9: #1C1D1F;

    --FG_0: #FFFFFF;
    --FG_3: #3C3F42;

    --FG_5: #81868F;
    --FG_6: #8E949E;

    --FG_7: #9CA3AD;
    --FG_9: #E1E5EB;

    --TC_5: #1D72F2;
    --TC_6: #1A66D9;
    --TC_7: #175ABF;

    --BG_TC: #132740;
    --BG_RED: #3A171D;
    --BG_YEL: #3D3415;
    --BG_GRN: #123624;

    --RED: #E02443;
    --YEL: #EBB617;
    --GRN: #17BF63;
}
