@import "src/styles/text";

.input_text {
	color: var(--FG_9);

	&:first-child {
		margin-bottom: 8px;
	}

	&:last-child {
		margin-top: 8px;
	}

	span {
		color: var(--FG_5);
	}

	&._small {
		@extend .text_13;
	}

	&._normal {
		@extend .text_14;
	}
}
